<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      
          <app-dashboard></app-dashboard>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2022 ColfarJuy
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>