
  <form>
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email/Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <a href="#admin" routerLink="/admin"><input type="button" class="btn-lg btn-primary" value="Administrador"></a>
    <a href="#agregarfarmacia" routerLink="/agregarfarmacia"><input type="button" class="btn-lg btn-primary"
        value="Cliente"></a>
  </form>

<router-outlet></router-outlet>
