<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-body" background="red">
                <h3 class="text-themecolor">Aquí va el mapa</h3>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body" background="red">
                <h3 class="text-themecolor">Referencias</h3>
                <div class="row">
                    <i class="fa-solid fa-square" style="color: green;padding: 20px 20px 10px 15px;"><span style="color:black; margin-left: 8px;">Abierta</span></i>
                    
                </div>
                <div class="row">
                    <i class="fa-solid fa-square" style="color: yellow; padding: 20px 20px 10px 15px;"> <span style="color:black; margin-left: 8px;">Por abrir</span></i>
                </div>
                <div class="row">
                    <i class="fa-solid fa-square" style="color: red;padding: 20px 20px 10px 15px;"> <span style="color:black; margin-left: 8px;">Cerrada</span></i>
                </div>
            </div>
        </div>
    </div>
</div>